
<!-- Take the following out for `production' -->
The feed your selected is: {{ itemsDetails.feedId }}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <input type="search" ng-model="itemsDetails.searchText" placeholder="Search" />

   <ul>
<!--  <li ng-repeat="item in itemsDetails.items"> -->
     <li dir-paginate="item in itemsDetails.items | itemsPerPage: itemsDetails.perPage" total-items="itemsDetails.itemsCount" current-page="itemsDetails.page">
 
    <img ng-src="{{item.image}}" height="50" width="50"/>
        <a href="/feeds/{{item.feedId}}">{{item.title}}</a>
        <a ui-sref="playItem({itemId: item._id})">
          PlayLink
        </a>

        <h4>{{item.title}}</h4> 
        <p>{{item.pubdate}}</p>
    
     </li>
  </ul>

   <dir-pagination-controls on-page-change="itemsDetails.pageChanged(newPageNumber)"></dir-pagination-controls>
   </div>
  </div>
</div>
