<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <feed-add ng-show="feedsList.isLoggedIn"></feed-add>
      <div class="alert alert-warning" role="alert" ng-hide="feedsList.isLoggedIn">
         Log in to subscribe to feeds
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>List of Feeds:</h2> <a ui-sref="subFeeds()"> My Feeds</a>

      <form class="form-inline"> 
          <input type="search" ng-model="feedsList.searchText" placeholder="Search" />
          <!--<feeds-sort on-change="feedsList.sortChanged(sort)" property="name" order="1"></feeds-sort> -->
      </form>
    </div>
  </div>
<!--<ul> -->
<!--  <li ng-repeat="feed in feedsList.feeds"> -->
<div class="row" ng-show="feedsList.isLoggedIn">
  <div class="col-md-6">
   <div class="img-rounded">
    <ul class="feeds">
      <li dir-paginate="feed in feedsList.feeds | itemsPerPage: feedsList.perPage" total-items="feedsList.feedsCount">        <div class="row">
           <div class="row">
            <div class="col-sm-8">
              <h3 class="feed-name">
                <a ui-sref="itemsDetails({ feedId: feed._id, period: 'weeks' })">
                  {{feed.name}}
                  This-Week 
                </a>
               </h3>
              <h3 class="feed-name">
                 <a ui-sref="itemsDetails({ feedId: feed._id, period: 'months' })">
                  {{feed.name}}
                  This-Month
               </a>
              </h3>
              <h3 class="feed-name">
                <a ui-sref="itemsDetails({ feedId: feed._id, period: 'prev-monthss' })">
                  {{feed.name}}
                  previous-months
              </a>
               </h3>

               <img ng-src="{{feed.image}}" height="50" width="50"/>
                 <h4>{{feed.title}}</h4> 
                 <p>{{feed.url}}</p>
                 <p>{{feed.pubdate}}</p>
              <input type="button" ng-model="feed.url" ng-click="feedsList.sub_scribe(feed.url)" value="subscribe" />
             </div>
            </div>
            </div>
            <!--<div class="col-sm-4"> -->
             <!-- <party-remove feed="feed">remove feed</party-remove> -->
             
            <!--</div> -->
            </li>
        </ul>
        </div>
      </div>
  </div>

<dir-pagination-controls on-page-change="feedsList.pageChanged(newPageNumber)"></dir-pagination-controls>


