feeds-list {
  display: block;
  padding: 25px 0;
 
  ul.feeds {
    padding-left: 0;
    list-style-type: none;
 
    > li {
      padding: 15px;
      background-color: #808080;
      opacity: .5;
      margin: 15px 0;
    
      border-radius:12px;
     .feed-name {
       margin-top: 0px;
       margin-bottom: 20px;
       a {
         text-decoration: none !important;
         font-weight: 400;
       }
     }
    }
  }
 /* .pagination {
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  }
  .pagination .ul .a{
       border: 1px solid red;
       &:hover{
           transform: translateY(10px);
           font-weight: bold;
        }
    }*/
.pagination {
      display: flex;
      justify-content: center;
      a {
       /* box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);*/
        box-shadow: 2px 2px 2px green;
        padding: 6px 13px;
        background-color: #ffff;
        border: 2px solid white;
         &:hover{
           transform: translateY(10px);
           font-weight: bold;
        }
      }
  
}

pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
}
@import "../feedAdd/feedAdd.less";
