<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <feed-add ng-show="subFeeds.isLoggedIn"></feed-add>
      <div class="alert alert-warning" role="alert" ng-hide="subFeeds.isLoggedIn">
         Log in to subscribe to feeds
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>List of Feeds:</h2>
      <form class="form-inline"> 
          <input type="search" ng-model="subFeeds.searchText" placeholder="Search" />
          <!--<feeds-sort on-change="feedsList.sortChanged(sort)" property="name" order="1"></feeds-sort> -->
      </form>
    </div>
  </div>
<!--<ul> -->
<!--  <li ng-repeat="feed in feedsList.feeds"> -->
<div class="row">
  <div class="col-md-6">
    <ul class="feeds">
      <li dir-paginate="feed in subFeeds.feeds | itemsPerPage: subFeeds.perPage" total-items="subFeeds.feedsCount">      
          <div class="row">
            <div class="col-sm-8">
              <h3 class="feed-name">
                <a ui-sref="itemsDetails({ feedId: feed._id })">
                  {{feed.name}}
                  UnReads
                </a>
               <img ng-src="{{feed.image}}" height="50" width="50"/>
                 <h4>{{feed.title}}</h4> 
                 <p>{{feed.url}}</p>
                 <p>{{feed.pubdate}}</p>
              </h3> 
            </div>
            <div class="col-sm-4">
              <party-remove feed="feed">remove feed</party-remove>
            </div>
        </div>
  </li>
</ul>
</div>
 <ul class="pagination">
   <dir-pagination-controls on-page-change="subFeeds.pageChanged(newPageNumber)"></dir-pagination-controls>
 </ul>
</div>
