<div class="fluid-container">
  <div class="navbar-header">
   <div class="navbar-custom"> 
     <li><a href="/feeds" class="navbar-brand">Home</a> <a class="navbar-right" ui-sref="subFeeds({})">My Feeds</a></li> 
  <!-- <li><a href="/items/:itemId" class="navbar-brand">Playlists</a></li> -->
 </div>
 </div>
</div> 





  <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
    <div class="navbar-header">
      <li><a href="/feeds" >Home</a><ul class="nav navbar-nav navbar-right"><a ui-sref="subFeeds({})">My Feeds</a></ul></li>

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a ui-sref="subFeeds({})">My Feeds</a>
        </li> 
      </ul>
    </div> 
  </nav>-->


